html, 
body {
	width: 100%,
	height: 100%,
	margin: 0,
	padding: 0
}


#map {
	height: 100%;
	position: absolute;
	right: 0;
	left: 301px;
	bottom: 0;		
}

#options-box {
	position: absolute;
	left: 0;
	height: 100%;
	width: 300px;	
}